* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
/* navbar stylings */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e54e02;
    /* position: fixed;
    top: 0; */
    width: 100%;
}
nav ul li {
    display: inline;
}
 nav ul li a{
    color:#ffffff;
    padding: 14px 16px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ffffff;
    color:#e54e02;
}
nav li .active {
    background-color: #e54e02;
}
#small_nav{
    display:none;
    text-align: center;
}
#small_nav li{
    text-align: center;
}
#big_nav{
    display:none;  
    float:right;    
}
#big_nav li{
    float:right;
}
/* END OF NAVIGATION STYLIUNGS */

/* Header Styling */
#header{
    background-image: url("../images/swallow2.jpg");
    background-color: #ffffff; 
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items h1 {
    font-size:30px;
    font-weight: 500;
    color:#e54e02;
}
.header-items h2 {
    font-size:20px;
    font-weight:400;
    color:#000000;
}
#small_header{
    background-image: url("../images/3.jpg");
    background-color: #ffffff; 
    background-size: cover;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items{
    flex: 70%;
    max-width: 70%;
    padding: 0 4px; 
}
.header .btn{
    padding:20px 50px;
}
/* Header style End */


/* Food Section */
#food-row{
    display: flex;
    flex-wrap: wrap;
}
.food-item{
    flex: 16.66666667%;
    max-width: 16.66666667%;
    padding: 0px 10px; 
    margin-top:10px;
}
.food-item div{
    box-shadow: 2px 2px 2px 1px #888888;
}
.food-item img {
    vertical-align: middle;
    height:150px;
}

.food-item h2{
    margin:2px 0px;
}
.food-item p{
    margin-top:0px;
    margin-bottom:6px;
    
}
.food-item .btn{
  width:100%;
}
/* End food section */

/* Form DIV */
#form-div{
    background-size: cover;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom:30px;
    padding-top:30px;
}

#form-div div{
    flex: 80%;
    max-width: 80%;
    text-align: center;
}

#form-div input{
    height: 30px;
    width:100%;
}

#form-div .btn{
    width:auto;
}

/* End Form Div */

/* footer section */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0px;
    background-color: #422604;
    color:#ffffff;
}
.footer-item{
    flex: 70%;
    max-width: 70%;
}
/* End food section */
.section-title {
    font-size: 44px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
  }
  .section-title:after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 0;
    border-bottom: 2px solid #e54e02;
  }
@media (max-width: 1000px) {
    .food-item {
        flex: 33.33333333%;
        max-width: 33.3333333%;
    }
}
@media (max-width: 480px) {
    .food-item {
        flex: 50%;
        max-width: 50%;
        padding: 0px 10px; 
        margin-bottom:20px;
    }
}
/* End of food section */

.img-responsive{
    width:100%;
}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color:#e54e02;
    color:#ffffff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 2px 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.hide{
    display:none;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.text-center{
    text-align: center;
}

/* Styling for .container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
/* End Styling for .container */
  

/* Small devices (landscape phones, 576px and above) */
@media (min-width: 576px) {
    #header{
        background-image: url("../images/swallow2.jpg");
        background-size: cover;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #small_header{
        min-height: 150px;
    }
    #form-div div{
        flex: 50%;
        max-width: 50%;
        text-align: center;
    }
    .bg-main{
        background-color: #e54e02;
    }
    .bg-red{
        background:#930707;
    }
    #hamburger{
        display:none;
    }
    #big_nav{
        display:block;      
    }
    #small_nav{
        display:none;
    }
    .header-items h1 {
        font-size:50px;
        font-weight:500;
        color:#e54e02;
    }
    .header-items h2 {
        font-size:20px;
        font-weight:400;
        color:#000000;
    }
}

